/* Zmiana czcionki dla całego dokumentu */
body {
    font-family: 'Comic Sans MS', sans-serif;
}

/* Zmiana czcionki dla nagłówków */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comic Sans MS', serif;
}

/* Zmiana czcionki dla paragrafów */
p {
    font-family: 'Comic Sans MS', sans-serif;
}